html, body {
	height: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #28282F;
}

html, body, ul, li, p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

#sidebar {
	color: #F2F1E7;
	background-color: #28282F;
	width: 11em;
	height: 100%;

	position: fixed;
	z-index: 1;

	-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
}

#sidebar h1 {
	text-align: center;
	margin-bottom: 1.2em;
}

.fa {
	vertical-align: .1em;
}

#sidebar > ul > li{
	margin-left: 2em;
	margin-bottom: 1.5em;
}

#sidebar > ul > li > ul > li {
	margin-left: 2.25em;
	font-size: .9em;
	color: #fff;
}


#sidebar #files_uploaded {
	opacity: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#sidebar #transform, #sidebar #draw{
	margin-bottom: 0.2em;
}

#drop_area {
	margin-left: 11em;
	height: 100%;
	z-index: -1;
}

.container {
	display: inline;
	float: left;
}

.hide {
	display: none;
}
