html, body {
	height: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #28282F;
}

html, body, ul, li, p , pre{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

#sidebar {
	color: #F2F1E7;
	background-color: #28282F;
	width: 11em;
	height: 100%;

	position: fixed;
	z-index: 1;

	-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
}

#sidebar h1 {
	text-align: center;
	margin-bottom: 1.2em;
}

.fa {
	vertical-align: .1em;
}

#sidebar > ul > li{
	display:inline-block;
	margin-left: 2em;
	margin-bottom: 1.5em;
}

#sidebar > ul > li:hover, #files_uploaded:hover{
	color: #5050B2;
	cursor: pointer;
}

#sidebar > ul > li > ul > li {
	margin-left: 2.25em;
	font-size: .9em;
	color: #fff;
}

#sidebar > ul > li > ul > li:hover {
	color: #6767E5;
}

#sidebar > ul > li:last-child:hover {
	color: #D44440;
	cursor: pointer;
}

#sidebar #files_uploaded {
	opacity: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#sidebar #transform, #sidebar #draw{
	margin-bottom: 0.2em;
}

#drop_area {
	margin-left: 11em;
	height: 100%;
	z-index: -1;
}

#drop_over {
	width: 6em;
	margin: auto;
	padding-top: 6.75em;
	color: #AAA;
}

.container {
	float: left;
	display: inline;
	
	/* Might need to have an initial class
	that centers on start, and then replacing
	it when object drags and moves to a new
	position on the cavas.
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/
}

.notes {
	background-color: #28282F;
	color: #ffffff;
	width: 12.5em;
	
	padding: 1em;

	resize: both;
	overflow: hidden;
}

.hide {
	display: none;
}
