body{
    display: inline-block;
	margin: 0;
	padding: 0;
}

container{
	width: 10px;
	height: 10px;
	
}

.thumb {
    max-height:200px;
	max-width: 200px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
 }
