body{
    display: inline-block;
	margin: 0;
	padding: 0;
}

* {
    position: absolute;
}

input {
    z-index: 99999;
}

.thumb {
    -webkit-box-shadow: 0 3px 6px #777;
      -moz-box-shadow: 0 3px 6px #777;
        box-shadow: 0 3px 6px #777;
 }
